@import "tailwindcss";

@theme {
  --font-lato: var(--font-lato);
  --font-cormorant: var(--font-cormorant);
  --font-tuesday-night: var(--font-tuesday-night);
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

